<!-- Banner Section -->
<section class="page-banner">
  <div class="image-layer" style="background-image:url(/images/background/image-7.jpg);"></div>
  <div class="shape-1"></div>
  <div class="shape-2"></div>
  <div class="banner-inner">
    <div class="auto-container">
      <div class="inner-container clearfix">
        <h1>Prefab Offices </h1>
        <div class="page-nav">
          <ul class="bread-crumb clearfix">
            <li><a href="index.php">Home</a></li>
            <li><a href="javascript:;">Products</a></li>
            <li><a href="javascript:;">Prefab</a></li>
            <li class="active">Office</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!--End Banner Section --> 
<!--Features Section-->
<section class="features-section-two">
  <div class="auto-container">
    <div class="content-container">
      <div class="row clearfix"> 
        <!--Left Column-->
        <div class="left-col col-xl-5 col-lg-12 col-md-12 col-sm-12">
          <div class="inner">
            <div class="sec-title">
              <h4 style="font-weight: bolder">MODERN, DURABLE AND
                SECURE</h4>
            </div>
            <div class="features">
              <div class="feature">
                <div class="count"><span>01</span></div>
                <h5>Modern Finish</h5>
                <div class="sub-text">The modular offices that we make have extremely modern finish.
                  Be assured about premium quality RNC Infraa. </div>
              </div>
              <div class="feature">
                <div class="count"><span>02</span></div>
                <h5>Less material waste</h5>
                <div class="sub-text">Modular office construction at RNC Infraa comprises of
                  optimizing construction material purchases and usage while finally offering
                  high-end product to the customers. </div>
              </div>
              <div class="feature">
                <div class="count"><span>03</span></div>
                <h5>Portability</h5>
                <div class="sub-text">Modular offices are pretty portable. Hence, if you are
                  involved with constructing a workplace which is smart enough, you can go for
                  modular offices. </div>
              </div>
            </div>
          </div>
        </div>
        <!--Right Column-->
        <div class="right-col col-xl-7 col-lg-12 col-md-12 col-sm-12">
          <div class="inner">
            <div class="image-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms"> <img src="/images/products/prefab/cover.png" alt="">
              <div class="cap-box">
                <div class="cap-inner">
                  <h5>A One-Stop Solution for smart office!</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Porta Section-->
<section class="featured-section" id="id_mobinest">
  <div class="auto-container">
    <div class="row clearfix"> 
      <!--Right Column-->
      <div class="right-col col-xl-8 col-lg-12 col-md-12 col-sm-12">
        <div class="inner">
          <div class="sec-title">
            <h4 class="product-title">PORTA CABINS</h4>
            <div class="lower-text">Prefab portas are temporary structures designed for efficient, quick setup and relocation. These cabins are ideal for construction projects requiring adaptability, offering durability, modular design, and easy customization to meet specific client needs. With an emphasis on sustainability and scalability, RNC Infraa’s portas provide a versatile solution for various project requirements, ensuring long-term efficiency and versatility in any setting. </div>
          </div>
          <div class="features">
            <div class="row clearfix">
              <div class="feature col-md-6 col-sm-12">
                <div class="table-responsive">
                  <table class="table table-bordered" style="width:100%">
                    <tbody>
                      <tr>
                        <td>Material</td>
                        <td>M.S/ G.I./ ACP/ Glass / MDF / FCB</td>
                      </tr>
                      <tr>
                        <td>Insulation</td>
                        <td>Glasswool / Rockwool</td>
                      </tr>
                      <tr>
                        <td>Build Type</td>
                        <td>Modular</td>
                      </tr>
                      <tr>
                        <td>Shape & Size</td>
                        <td>Customized</td>
                      </tr>
                      <tr>
                        <td>Commuting Ease</td>
                        <td>Completely Portable</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="feature col-md-6 col-sm-12">
                <div class="inner">
                  <h4>FEATURES</h4>
                  <ul>
                    <li><i class="fa fa-check list-check"></i>Highly versatile </li>
                    <li><i class="fa fa-check list-check"></i>Premium quality </li>
                    <li><i class="fa fa-check list-check"></i>Thermally-insulated structure</li>
                    <li><i class="fa fa-check list-check"></i>Durable and maintenance-free </li>
                    <li><i class="fa fa-check list-check"></i>Readily integrated with technology</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Left Column-->
      <div class="left-col col-xl-4 col-lg-12 col-md-12 col-sm-12">
        <div class="row wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
          <div class="gallery-item col-lg-12 col-md-12 col-sm-12">
            <div class="inner-box">
              <figure class="image"><img src="/images/products/prefab/mobinest/cover-2.jpg"
                                                           alt=""></figure>
              <a href="images/products/prefab/mobinest/cover-2.jpg"
                                   class="lightbox-image overlay-box"
                                   data-fancybox="gallery"></a> </div>
          </div>
        </div>
        <div class="row wow fadeInLeft clearfix" data-wow-delay="150ms" data-wow-duration="1500ms"> 
          <!-- Gallery Item -->
          <div class="gallery-item col-lg-4 col-md-4 col-sm-4">
            <div class="inner-box">
              <figure class="image"><img src="/images/products/prefab/mobinest/download.jpg"
                                                           alt=""></figure>
              <a href="images/products/prefab/mobinest/download.jpg"
                                   class="lightbox-image overlay-box"
                                   data-fancybox="gallery"></a> </div>
          </div>
          <!-- Gallery Item -->
          <div class="gallery-item col-lg-4 col-md-4 col-sm-4">
            <div class="inner-box">
              <figure class="image"><img src="/images/products/prefab/mobinest/download2.jpg"
                                                           alt=""></figure>
              <a href="images/products/prefab/mobinest/download2.jpg"
                                   class="lightbox-image overlay-box"
                                   data-fancybox="gallery"></a> </div>
          </div>
        </div>
        <div class="row wow fadeInLeft clearfix" data-wow-delay="300ms" data-wow-duration="1500ms"
                         style="margin-top: -20px">
          <div class="col-md-6 col-sm-12">
            <div class="link-box"> <a class="theme-btn btn-style-two click1" href="javascript:;"> <i class="btn-curve"></i> <span class="btn-title">Get a Free Quote</span> </a> </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="link-box"> <a class="theme-btn btn-style-two click2" href="pdf/RNC-Infraa-Pvt.Ltd.-Brochure.pdf"> <i class="btn-curve"></i> <span class="btn-title">Download Brochure</span> </a> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Premium Section-->
<section class="testimonials-section">
  <div class="auto-container">
    <div class="row clearfix"> 
      <!--Right Column-->
      <div class="right-col col-xl-8 col-lg-12 col-md-12 col-sm-12">
        <div class="inner">
          <div class="sec-title">
            <h4 class="product-title">PREMIUM OFFICE</h4>
            <div class="lower-text">RNC Infraa presents premium portable offices designed for excellence in functionality and style. These cabins offer customizable interiors, high-end finishes, and modular construction to suit diverse office needs. With features like easy assembly, long-term durability, and a focus on comfort, RNC Infraa’s premium options provide tailored solutions for modern workspaces. Their commitment to quality ensures secure, efficient, and visually appealing environments that meet the highest standards of comfort and security.</div>
          </div>
          <div class="features">
            <div class="row clearfix">
              <div class="feature col-md-6 col-sm-12">
                <div class="table-responsive">
                  <table class="table table-bordered" style="width:100%">
                    <tbody>
                      <tr>
                        <td>Material</td>
                        <td>M.S/ G.I./ ACP/ Glass / MDF / FCB</td>
                      </tr>
                      <tr>
                        <td>Insulation</td>
                        <td>Glasswool / Rockwool / EPS</td>
                      </tr>
                      <tr>
                        <td>Build Type</td>
                        <td>Modular</td>
                      </tr>
                      <tr>
                        <td>Shape & Size</td>
                        <td>Customized</td>
                      </tr>
                      <tr>
                        <td>Commuting Ease</td>
                        <td>Completely Portable</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="feature col-md-6 col-sm-12">
                <div class="inner">
                  <h4>FEATURES</h4>
                  <ul>
                    <li><i class="fa fa-check list-check"></i>Factory built is constructed
                      onsite </li>
                    <li><i class="fa fa-check list-check"></i>Transported to the site and
                      assembled </li>
                    <li><i class="fa fa-check list-check"></i>Reuse for numerous times</li>
                    <li><i class="fa fa-check list-check"></i>Fully customizable </li>
                    <li><i class="fa fa-check list-check"></i>Cost Effective</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Left Column-->
      <div class="left-col col-xl-4 col-lg-12 col-md-12 col-sm-12">
        <div class="row wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
          <div class="gallery-item col-lg-12 col-md-12 col-sm-12">
            <div class="inner-box">
              <figure class="image"><img src="/images/products/prefab/premium/cover-2.jpg"
                                                           alt=""></figure>
              <a href="images/products/prefab/premium/cover-2.jpg"
                                   class="lightbox-image overlay-box"
                                   data-fancybox="gallery"></a> </div>
          </div>
        </div>
        <div class="row wow fadeInLeft clearfix" data-wow-delay="150ms" data-wow-duration="1500ms"> 
          <!-- Gallery Item -->
          <div class="gallery-item col-lg-4 col-md-4 col-sm-4">
            <div class="inner-box">
              <figure class="image"><img src="/images/products/prefab/premium/1.jpg"
                                                           alt=""></figure>
              <a href="images/products/prefab/premium/1.jpg"
                                   class="lightbox-image overlay-box"
                                   data-fancybox="gallery"></a> </div>
          </div>
          <!-- Gallery Item -->
          <div class="gallery-item col-lg-4 col-md-4 col-sm-4">
            <div class="inner-box">
              <figure class="image"><img src="/images/products/prefab/premium/2.jpg"
                                                           alt=""></figure>
              <a href="images/products/prefab/premium/2.jpg"
                                   class="lightbox-image overlay-box"
                                   data-fancybox="gallery"></a> </div>
          </div>
          <!-- Gallery Item -->
          <div class="gallery-item col-lg-4 col-md-4 col-sm-4">
            <div class="inner-box">
              <figure class="image"><img src="/images/products/prefab/premium/3.jpg"
                                                           alt=""></figure>
              <a href="images/products/prefab/premium/3.jpg"
                                   class="lightbox-image overlay-box"
                                   data-fancybox="gallery"></a> </div>
          </div>
        </div>
        <div class="row wow fadeInLeft clearfix" data-wow-delay="300ms" data-wow-duration="1500ms"
                         style="margin-top: -20px">
          <div class="col-md-6 col-sm-12">
            <div class="link-box"> <a class="theme-btn btn-style-two click1" href="javascript:;"> <i class="btn-curve"></i> <span class="btn-title">Get a Free Quote</span> </a> </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="link-box"> <a class="theme-btn btn-style-two click2" href="pdf/RNC-Infraa-Pvt.Ltd.-Brochure.pdf"> <i class="btn-curve"></i> <span class="btn-title">Download Brochure</span> </a> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Flat Pack Containers Section-->
<section class="featured-section">
  <div class="auto-container">
    <div class="row clearfix"> 
      <!--Right Column-->
      <div class="right-col col-xl-8 col-lg-12 col-md-12 col-sm-12">
        <div class="inner">
          <div class="sec-title">
            <h4 class="product-title">FLAT PACK CONTAINERS</h4>
            <div class="lower-text">Flat pack containers are modular prefabricated structures designed for quick deployment, ideal for temporary setups or projects requiring flexibility. These containers offer high portability, ease of assembly on-site, and customizable designs to suit various client needs. With an emphasis on sustainability and scalability, RNC Infraa’s flat packs provide efficient solutions for different project requirements, ensuring long-term effectiveness and adaptability in any setting.</div>
          </div>
          <div class="features">
            <div class="row clearfix">
              <div class="feature col-md-6 col-sm-12">
                <div class="table-responsive">
                  <table class="table table-bordered" style="width:100%">
                    <tbody>
                      <tr>
                        <td>Material</td>
                        <td>MS/GI</td>
                      </tr>
                      <tr>
                        <td>Insulation</td>
                        <td>Glasswool / Rockwool</td>
                      </tr>
                      <tr>
                        <td>Build Type</td>
                        <td>Modular</td>
                      </tr>
                      <tr>
                        <td>Shape & Size</td>
                        <td>Customized</td>
                      </tr>
                      <tr>
                        <td>Commuting Ease</td>
                        <td>Completely Portable</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="feature col-md-6 col-sm-12">
                <div class="inner">
                  <h5>FEATURES</h5>
                  <ul>
                    <li><i class="fa fa-check list-check"></i>Easy maintenance</li>
                    <li><i class="fa fa-check list-check"></i>Great ventilation</li>
                    <li><i class="fa fa-check list-check"></i>Cost effective</li>
                    <li><i class="fa fa-check list-check"></i>Simple structure</li>
                    <li><i class="fa fa-check list-check"></i>Weather resistance </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Left Column-->
      <div class="left-col col-xl-4 col-lg-12 col-md-12 col-sm-12">
        <div class="row wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
          <div class="gallery-item col-lg-12 col-md-12 col-sm-12">
            <div class="inner-box">
              <figure class="image"><img src="/images/products/prefab/ms-gi%20office/cover-2.jpg"
                                                           alt=""></figure>
              <a href="images/products/prefab/ms-gi%20office/cover-2.jpg"
                                   class="lightbox-image overlay-box"
                                   data-fancybox="gallery"></a> </div>
          </div>
        </div>
        <div class="row wow fadeInLeft clearfix" data-wow-delay="150ms" data-wow-duration="1500ms"> 
          <!-- Gallery Item -->
          <div class="gallery-item col-lg-4 col-md-4 col-sm-4">
            <div class="inner-box">
              <figure class="image"><img src="/images/products/prefab/ms-gi%20office/1.jpg"
                                                           alt=""></figure>
              <a href="images/products/prefab/ms-gi%20office/1.jpg"
                                   class="lightbox-image overlay-box"
                                   data-fancybox="gallery"></a> </div>
          </div>
          <!-- Gallery Item -->
          <div class="gallery-item col-lg-4 col-md-4 col-sm-4">
            <div class="inner-box">
              <figure class="image"><img src="/images/products/prefab/ms-gi%20office/2.jpg"
                                                           alt=""></figure>
              <a href="images/products/prefab/ms-gi%20office/2.jpg"
                                   class="lightbox-image overlay-box"
                                   data-fancybox="gallery"></a> </div>
          </div>
          <!-- Gallery Item -->
          <div class="gallery-item col-lg-4 col-md-4 col-sm-4">
            <div class="inner-box">
              <figure class="image"><img src="/images/products/prefab/ms-gi%20office/3.jpg"
                                                           alt=""></figure>
              <a href="images/products/prefab/ms-gi%20office/3.jpg"
                                   class="lightbox-image overlay-box"
                                   data-fancybox="gallery"></a> </div>
          </div>
        </div>
        <div class="row wow fadeInLeft clearfix" data-wow-delay="300ms" data-wow-duration="1500ms"
                         style="margin-top: -20px">
          <div class="col-md-6 col-sm-12">
            <div class="link-box"> <a class="theme-btn btn-style-two click1" href="javascript:;"> <i class="btn-curve"></i> <span class="btn-title">Get a Free Quote</span> </a> </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="link-box"> <a class="theme-btn btn-style-two click2" href="pdf/RNC-Infraa-Pvt.Ltd.-Brochure.pdf"> <i class="btn-curve"></i> <span class="btn-title">Download Brochure</span> </a> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Security Cabins Office-->
<section class="testimonials-section">
  <div class="auto-container">
    <div class="row clearfix"> 
      <!--Right Column-->
      <div class="right-col col-xl-8 col-lg-12 col-md-12 col-sm-12">
        <div class="inner">
          <div class="sec-title">
            <h4 class="product-title">SECURITY CABINS</h4>
            <div class="lower-text">Security cabins are customizable portable structures designed to provide secure living or working spaces in diverse environments. These cabins offer essential amenities like lighting, seating, and basic facilities, making them ideal for offices, security rooms, and retail outlets. With an emphasis on durability and adaptability, RNC Infraa’s security cabins ensure long-term stability while meeting specific client needs across various projects. Their versatile design allows easy relocation and serves as a reliable solution in different settings. </div>
          </div>
          <div class="features">
            <div class="row clearfix">
              <div class="feature col-md-6 col-sm-12">
                <div class="table-responsive">
                  <table class="table table-bordered" style="width:100%">
                    <tbody>
                      <tr>
                        <td>Material</td>
                        <td>MS</td>
                      </tr>
                      <tr>
                        <td>Insulation</td>
                        <td>PUF Insulation</td>
                      </tr>
                      <tr>
                        <td>Build Type</td>
                        <td>Modular</td>
                      </tr>
                      <tr>
                        <td>Shape & Size</td>
                        <td>Customized</td>
                      </tr>
                      <tr>
                        <td>Commuting Ease</td>
                        <td>Completely Portable</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="feature col-md-6 col-sm-12">
                <div class="inner">
                  <h4>FEATURES</h4>
                  <ul>
                    <li><i class="fa fa-check list-check"></i>Easy maintenance</li>
                    <li><i class="fa fa-check list-check"></i>Heat Resistant & Soundproof </li>
                    <li><i class="fa fa-check list-check"></i>Highly Insulated</li>
                    <li><i class="fa fa-check list-check"></i>Modernized</li>
                    <li><i class="fa fa-check list-check"></i>Strong Fitting & Sturdy Structures </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Left Column-->
      <div class="left-col col-xl-4 col-lg-12 col-md-12 col-sm-12">
        <div class="row wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
          <div class="gallery-item col-lg-12 col-md-12 col-sm-12">
            <div class="inner-box">
              <figure class="image"><img src="/images/products/prefab/puf/cover-2.jpg"
                                                           alt=""></figure>
              <a href="images/products/prefab/puf/cover-2.jpg"
                                   class="lightbox-image overlay-box"
                                   data-fancybox="gallery"></a> </div>
          </div>
        </div>
        <div class="row wow fadeInLeft clearfix" data-wow-delay="150ms" data-wow-duration="1500ms"> 
          <!-- Gallery Item -->
          <div class="gallery-item col-lg-4 col-md-4 col-sm-4">
            <div class="inner-box">
              <figure class="image"><img src="/images/products/prefab/puf/1.jpg"
                                                           alt=""></figure>
              <a href="images/products/prefab/puf/1.jpg"
                                   class="lightbox-image overlay-box"
                                   data-fancybox="gallery"></a> </div>
          </div>
          <!-- Gallery Item -->
          <div class="gallery-item col-lg-4 col-md-4 col-sm-4">
            <div class="inner-box">
              <figure class="image"><img src="/images/products/prefab/puf/2.jpg"
                                                           alt=""></figure>
              <a href="images/products/prefab/puf/2.jpg"
                                   class="lightbox-image overlay-box"
                                   data-fancybox="gallery"></a> </div>
          </div>
          <!-- Gallery Item -->
          <div class="gallery-item col-lg-4 col-md-4 col-sm-4">
            <div class="inner-box">
              <figure class="image"><img src="/images/products/prefab/puf/3.jpg"
                                                           alt=""></figure>
              <a href="images/products/prefab/puf/3.jpg"
                                   class="lightbox-image overlay-box"
                                   data-fancybox="gallery"></a> </div>
          </div>
        </div>
        <div class="row wow fadeInLeft clearfix" data-wow-delay="300ms" data-wow-duration="1500ms"
                         style="margin-top: -20px">
          <div class="col-md-6 col-sm-12">
            <div class="link-box"> <a class="theme-btn btn-style-two click1" href="javascript:;"> <i class="btn-curve"></i> <span class="btn-title">Get a Free Quote</span> </a> </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="link-box"> <a class="theme-btn btn-style-two click2" href="pdf/RNC-Infraa-Pvt.Ltd.-Brochure.pdf"> <i class="btn-curve"></i> <span class="btn-title">Download Brochure</span> </a> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Portable Toilets Section-->
<section class="featured-section" id="id_projectoffice">
  <div class="auto-container">
    <div class="row clearfix"> 
      <!--Right Column-->
      <div class="right-col col-xl-8 col-lg-12 col-md-12 col-sm-12">
        <div class="inner">
          <div class="sec-title">
            <h4 class="product-title">PORTABLE TOILETS</h4>
            <div class="lower-text">RNC Infraa’s portable toilets are designed for quick installation on construction sites, emergency setups, or remote locations. These compact units offer portability, customization, and reliability, ensuring cost-effectiveness while providing sustainable solutions for any setting. Their modular design allows easy reuse and adaptability to various needs, making them ideal for diverse applications from disaster relief to temporary facilities. With a focus on durability and user comfort, RNC Infraa’s portable toilets ensure efficiency in any scenario.</div>
          </div>
          <div class="features">
            <div class="row clearfix">
              <div class="feature col-md-6 col-sm-12">
                <div class="table-responsive">
                  <table class="table table-bordered" style="width:100%">
                    <tbody>
                      <tr>
                        <td>Material</td>
                        <td>MS / GI / PUF / FCB / MDF</td>
                      </tr>
                      <tr>
                        <td>Insulation</td>
                        <td>Glasswool / Rockwool</td>
                      </tr>
                      <tr>
                        <td>Build Type</td>
                        <td>Modular</td>
                      </tr>
                      <tr>
                        <td>Shape & Size</td>
                        <td>Customized</td>
                      </tr>
                      <tr>
                        <td>Commuting Ease</td>
                        <td>Completely Portable</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="feature col-md-6 col-sm-12">
                <div class="inner">
                  <h5>FEATURES</h5>
                  <ul>
                    <li><i class="fa fa-check list-check"></i>Comfortable</li>
                    <li><i class="fa fa-check list-check"></i>Speedy Shiftable</li>
                    <li><i class="fa fa-check list-check"></i>Optimally Sized</li>
                    <li><i class="fa fa-check list-check"></i>Light-Weight</li>
                    <li><i class="fa fa-check list-check"></i>Highly Furnished</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Left Column-->
      <div class="left-col col-xl-4 col-lg-12 col-md-12 col-sm-12">
        <div class="row wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
          <div class="gallery-item col-lg-12 col-md-12 col-sm-12">
            <div class="inner-box">
              <figure class="image"><img src="/images/products/prefab/project-office/cover-2.jpg"
                                                           alt=""></figure>
              <a href="images/products/prefab/project-office/cover-2.jpg"
                                   class="lightbox-image overlay-box"
                                   data-fancybox="gallery"></a> </div>
          </div>
        </div>
        <div class="row wow fadeInLeft clearfix" data-wow-delay="150ms" data-wow-duration="1500ms"> 
          <!-- Gallery Item -->
          <div class="gallery-item col-lg-4 col-md-4 col-sm-4">
            <div class="inner-box">
              <figure class="image"><img src="/images/products/prefab/project-office/1.jpg"
                                                           alt=""></figure>
              <a href="images/products/prefab/project-office/1.jpg"
                                   class="lightbox-image overlay-box"
                                   data-fancybox="gallery"></a> </div>
          </div>
          <!-- Gallery Item -->
          <div class="gallery-item col-lg-4 col-md-4 col-sm-4">
            <div class="inner-box">
              <figure class="image"><img src="/images/products/prefab/project-office/2.jpg"
                                                           alt=""></figure>
              <a href="images/products/prefab/project-office/2.jpg"
                                   class="lightbox-image overlay-box"
                                   data-fancybox="gallery"></a> </div>
          </div>
          <!-- Gallery Item -->
          <div class="gallery-item col-lg-4 col-md-4 col-sm-4">
            <div class="inner-box">
              <figure class="image"><img src="/images/products/prefab/project-office/3.jpg"
                                                           alt=""></figure>
              <a href="images/products/prefab/project-office/3.jpg"
                                   class="lightbox-image overlay-box"
                                   data-fancybox="gallery"></a> </div>
          </div>
        </div>
        <div class="row wow fadeInLeft clearfix" data-wow-delay="300ms" data-wow-duration="1500ms"
                         style="margin-top: -20px">
          <div class="col-md-6 col-sm-12">
            <div class="link-box"> <a class="theme-btn btn-style-two click1" href="javascript:;"> <i class="btn-curve"></i> <span class="btn-title">Get a Free Quote</span> </a> </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="link-box"> <a class="theme-btn btn-style-two click2" href="pdf/RNC-Infraa-Pvt.Ltd.-Brochure.pdf"> <i class="btn-curve"></i> <span class="btn-title">Download Brochure</span> </a> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Solutions Section -->
<section class="features-section jarallax" data-jarallax data-speed="0.3" data-imgPosition="50% -100%"> <img src="/images/background/image-3.jpg" class="jarallax-img" alt="">
  <div class="auto-container">
    <div class="content-box">
      <h2>Other Products</h2>
    </div>
  </div>
  <!--Porfolio Tabs-->
  <div class="project-tab"> 
    <!--Tabs Content-->
    <div class="p-tabs-content"> 
      <!--Portfolio Tab / Active Tab-->
      <div class="p-tab active-tab" id="p-tab-1">
        <div class="project-carousel owl-theme owl-carousel"> 
          <!-- Gallery Item -->
          <div class="gallery-item">
            <div class="inner-box">
              <figure class="image"><img src="/images/gallery/7.jpg" alt=""></figure>
              <a href="images/gallery/7.jpg" class="lightbox-image overlay-box"
                               data-fancybox="gallery"></a>
              <div class="cap-box">
                <div class="cap-inner">
                  <div class="cat"><span>Housing</span></div>
                  <div class="title">
                    <h5><a href="prefab-housing.php">Prefab Farmhouses & Villas</a></h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Gallery Item -->
          <div class="gallery-item">
            <div class="inner-box">
              <figure class="image"><img src="/images/gallery/thumbs/toilets.png" alt=""></figure>
              <a href="images/gallery/toilets.jpg" class="lightbox-image overlay-box"
                               data-fancybox="gallery"></a>
              <div class="cap-box">
                <div class="cap-inner">
                  <div class="cat"><span>Sanitization</span></div>
                  <div class="title">
                    <h5><a href="prefab-toilet.php">Portable Toilets</a></h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Gallery Item -->
          <div class="gallery-item">
            <div class="inner-box">
              <figure class="image"><img src="/images/gallery/thumbs/workmen-colonies.png" alt=""></figure>
              <a href="images/gallery/3.jpg" class="lightbox-image overlay-box"
                               data-fancybox="gallery"></a>
              <div class="cap-box">
                <div class="cap-inner">
                  <div class="cat"><span>Infrastructure</span></div>
                  <div class="title">
                    <h5><a href="prefab-workmen-colony.php">Workmen Colonies</a></h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Gallery Item -->
          <div class="gallery-item">
            <div class="inner-box">
              <figure class="image"><img src="/images/gallery/thumbs/medical-shelters.png" alt=""></figure>
              <a href="images/gallery/medical-shelters.jpg" class="lightbox-image overlay-box"
                               data-fancybox="gallery"></a>
              <div class="cap-box">
                <div class="cap-inner">
                  <div class="cat"><span>Medical</span></div>
                  <div class="title">
                    <h5><a href="product-precast.php">Medical Shelters</a></h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Get Quote Section--> 
<!--Get Quote Section-->
<section class="get-quote-three">
  <div class="auto-container">
    <div class="sec-title centered">
      <h2>Still stuck ask directly<span class="dot">.</span></h2>
    </div>
    <div class="form-box">
      <div class="default-form"> 
        <!-- <form method="post" action="javascript:;" id="contact-form">
    <div class="row clearfix">
        <div class="form-group col-lg-4 col-md-4 col-sm-12">
            <div class="field-inner">
                <input type="text" name="username" value="" placeholder="Your Name" required="">
            </div>
        </div>
        <div class="form-group col-lg-4 col-md-4 col-sm-12">
            <div class="field-inner">
                <input type="email" name="email" value="" placeholder="Email Address"
                required="">
            </div>
        </div>
        <div class="form-group col-lg-4 col-md-4 col-sm-12">
            <div class="field-inner">
                <input type="text" name="phone" value="" placeholder="Phone Number" required="">
            </div>
        </div>
        <div class="form-group col-lg-12 col-md-12 col-sm-12">
            <div class="field-inner">
                <textarea name="message" placeholder="Write Message" required=""></textarea>
            </div>
        </div>
        <div class="form-group col-lg-12 col-md-12 col-sm-12">
            <button class="theme-btn btn-style-one">
            <i class="btn-curve"></i>
            <span class="btn-title">Send message</span>
            </button>
        </div>
    </div>
</form> -->
        <form name="email_form2" method="post" action="inquiry-action.php" class="form-horizontal form4" novalidate="novalidate" id="contact-form">
          <ul class="clearfix contct-us-ul-lists">
            <li class="wow fadeInUp col-sm-6 col-xs-12">
              <div class="form-group has-feedback">
                <div class="col-md-12">
                  <input name="name" id="name" type="text" placeholder="Your Name:" class="form-control">
                  <span class="form-control-feedback glyphicon glyphicon-ok"></span> </div>
              </div>
            </li>
            <li class="wow fadeInUp col-sm-6 col-xs-12">
              <div class="form-group has-feedback">
                <div class="col-md-12">
                  <input name="email" id="email" type="text" placeholder="E-Mail Address" class="form-control">
                  <span class="form-control-feedback glyphicon glyphicon-ok"></span> </div>
              </div>
            </li>
            <li class="wow fadeInUp col-sm-6 col-xs-12">
              <div class="form-group has-feedback">
                <div class="row">
                  <div class="col-md-12">
                    <input name="city" id="city" type="text" placeholder="Your City:" class="form-control">
                    <span class="form-control-feedback glyphicon glyphicon-ok"></span> </div>
                </div>
              </div>
            </li>
            <li class="wow fadeInUp col-sm-6 col-xs-12">
              <div class="form-group has-feedback">
                <div class="col-md-12">
                  <input name="number" id="number" type="tel" placeholder="Your Phone:" maxlength="10" minlength="10" class="form-control number21">
                  <span class="form-control-feedback glyphicon glyphicon-ok"></span> </div>
              </div>
            </li>
            <li class="wow fadeInUp col-sm-12 col-xs-12">
              <div class="form-group has-feedback">
                <div class="col-md-12">
                  <textarea class="form-control" name="message" id="message" placeholder="Requirement" rows="3" minlength="4" maxlength="300"></textarea>
                  <span class="form-control-feedback glyphicon glyphicon-ok"></span> </div>
              </div>
            </li>
            <div class="clearfix"></div>
            <li class="wow fadeInUp col-sm-6 col-xs-12">
              <div class="form-group has-feedback">
                <div class="col-md-12">
                  <input name="captcha" id="captcha" placeholder="Captcha Code:" class="form-control" type="text">
                  <span class="form-control-feedback glyphicon glyphicon-ok"></span> </div>
              </div>
            </li>
            <li class="wow fadeInUp col-sm-6 col-xs-12">
              <div class="form-group has-feedback"> <img src="captcha.php" style="float:left;margin-top: 5px;margin-bottom: 15px;" alt=""> </div>
            </li>
            <div class="clearfix"></div>
            <li class="wow fadeInUp col-sm-6 col-xs-12">
              <div class="form-group has-feedback">
                <div class="col-md-3 col-sm-3 col-xs-12">
                  <input type="submit" value="Submit" class="submit class-submit" style="margin-left: 0;">
                </div>
              </div>
            </li>
          </ul>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- Call To Section --> 
<!--      <section class="call-to-section">
            <div class="auto-container">
                <div class="inner clearfix">
                    <div class="shape-1 wow slideInRight" data-wow-delay="0ms" data-wow-duration="1500ms"></div>
                    <div class="shape-2 wow fadeInDown" data-wow-delay="0ms" data-wow-duration="1500ms"></div>
                    <h2>Let's Get Your Project <br>Started!</h2>
                    <div class="link-box">
                        <a class="theme-btn btn-style-two" href="contactus.php">
                            <i class="btn-curve"></i>
                            <span class="btn-title">Contact us</span>
                        </a>
                    </div>
                </div>
            </div> -->