<div class="d-none d-md-none d-lg-none d-xl-block">
  <header class="main-header header-style-one">
    <div class="header-upper">
      <div class="inner-container clearfix">
        <div class="logo-box">
          <div class="logo"> <a href="index.php" title="RNC Infraa Pvt. Ltd." > <img src="/images/logo.png" id="thm-logo" alt="RNC Infraa Pvt. Ltd." title="RNC Infraa Pvt. Ltd." style="margin: -30px !important;"/> </a> </div>
        </div>
        <div class="nav-outer clearfix">
          <div class="mobile-nav-toggler"> <span class="icon flaticon-menu-2"></span> <span class="txt">Menu</span> </div>
          <nav class="main-menu navbar-expand-md navbar-light">
            <div class="collapse navbar-collapse show clearfix" id="navbarSupportedContent">
              <ul class="navigation clearfix">
                {{ nav:main_nav }}
                {{ if children }}
                <li class="dropdown"> <a href="{{ url }}">{{ title }} <i class="fa fa-angle-down"></i></a>
                  <ul>
                    {{ children }}
                    <li> <a href="{{ url }}" aria-label="{{ title }}">{{ title }}</a> </li>
                    {{ /children }}
                  </ul>
                </li>
                {{ else }}
                <li> <a href="{{ url }}" aria-label="{{ title }}">{{ title }}</a> </li>
                {{ /if }}
                {{ /nav:main_nav }}
              </ul>
            </div>
          </nav>
        </div>
        <div class="other-links clearfix">
          <div class="link-box">
            <div class="call-us"> <a class="link" href="tel:+91 99790 97311" onclick="gtag('event', 'send', { 'event_category': 'click on Mobile', 'event_action': 'Mobile', 'event_label': '+91 99790 97311' });"> <span class="icon"></span> <span class="sub-text">For Enquiries</span> <span class="number">+91 99790 97311</span> </a> </div>
          </div>
        </div>
      </div>
    </div>
  </header>
</div>
<div class="d-block d-md-block d-lg-block d-xl-none">
  <div id='main-menu' class='main-menu'>
    <div class='container-menu'>
      <nav class='navigation'>
        <div class="logo"> <a href="index.php" title="RNC Infraa Pvt. Ltd." > <img src="/images/logo.png" id="thm-logo" alt="RNC Infraa Pvt. Ltd." title="RNC Infraa Pvt. Ltd." style="margin: -30px !important;"/> </a> </div>
        <span class='hamburger-menu'>
        <div class="top-toggle"> <span class='burger-1'></span> <span class='burger-2'></span> <span class='burger-3'></span> </div>
        </span>
        <ul class='core-menu'>
          {{ nav:main_nav }}
          {{ if children }}
          <li class="dropdown"> <a href="{{ url }}">{{ title }} <i class="fa fa-angle-down"></i></a>
            <ul>
              {{ children }}
              <li> <a href="{{ url }}" aria-label="{{ title }}">{{ title }}</a> </li>
              {{ /children }}
              <li><a href="modular-construction.php"> Prefab </a></li>
              <li><a href="precast-hybrid-modular.php"> Precast Hybrid Modular </a></li>
              <li><a href="technologies_lgsf.php"> Light Gauge Steel Framed Structures (LGSF) </a></li>
              <li><a href="technologies_grc.php"> GRC </a></li>
            </ul>
          </li>
          {{ else }}
          <li> <a href="{{ url }}" aria-label="{{ title }}">{{ title }}</a> </li>
          {{ /if }}
          {{ /nav:main_nav }}
        </ul>
      </nav>
    </div>
  </div>
</div>
