<!-- Banner Section -->
<section class="page-banner">
   <div class="image-layer" style="background-image:url(/images/background/image-7.jpg);"></div>
   <div class="shape-1"></div>
   <div class="shape-2"></div>
   <div class="banner-inner">
      <div class="auto-container">
         <div class="inner-container clearfix">
            <h1>Clients</h1>
            <div class="page-nav">
               <ul class="bread-crumb clearfix">
                  <li><a href="index.php">Home</a></li>
                  <li class="active">Clients</li>
               </ul>
            </div>
         </div>
      </div>
   </div>
</section>
<!--End Banner Section -->
<section class="sponsors-section-four">
   <div class="auto-container">
      <div class="row">
         <div class="col-md-6 col-lg-2">
            <div class="image-box">
               <a href="#">
               <img src="/images/clients/1.jpg" alt="">
               </a>
            </div>
            <!-- /.image-box -->
         </div>
         <!-- /.col-md-6 col-lg-4 -->
         <div class="col-md-6 col-lg-2">
            <div class="image-box">
               <a href="#">
               <img src="/images/clients/2.jpg" alt="">
               </a>
            </div>
            <!-- /.image-box -->
         </div>
         <!-- /.col-md-6 col-lg-4 -->
         <div class="col-md-6 col-lg-2">
            <div class="image-box">
               <a href="#">
               <img src="/images/clients/3.jpg" alt="">
               </a>
            </div>
            <!-- /.image-box -->
         </div>
         <!-- /.col-md-6 col-lg-4 -->
         <div class="col-md-6 col-lg-2">
            <div class="image-box">
               <a href="#">
               <img src="/images/clients/4.jpg" alt="">
               </a>
            </div>
            <!-- /.image-box -->
         </div>
         <!-- /.col-md-6 col-lg-4 -->
         <div class="col-md-6 col-lg-2">
            <div class="image-box">
               <a href="#">
               <img src="/images/clients/5.jpg" alt="">
               </a>
            </div>
            <!-- /.image-box -->
         </div>
         <!-- /.col-md-6 col-lg-4 -->
         <div class="col-md-6 col-lg-2">
            <div class="image-box">
               <a href="#">
               <img src="/images/clients/6.jpg" alt="">
               </a>
            </div>
            <!-- /.image-box -->
         </div>
         <!-- /.col-md-6 col-lg-4 -->
         <div class="col-md-6 col-lg-2">
            <div class="image-box">
               <a href="#">
               <img src="/images/clients/7.jpg" alt="">
               </a>
            </div>
            <!-- /.image-box -->
         </div>
         <!-- /.col-md-6 col-lg-4 -->
         <div class="col-md-6 col-lg-2">
            <div class="image-box">
               <a href="#">
               <img src="/images/clients/8.jpg" alt="">
               </a>
            </div>
            <!-- /.image-box -->
         </div>
         <!-- /.col-md-6 col-lg-4 -->
         <div class="col-md-6 col-lg-2">
            <div class="image-box">
               <a href="#">
               <img src="/images/clients/9.jpg" alt="">
               </a>
            </div>
            <!-- /.image-box -->
         </div>
         <!-- /.col-md-6 col-lg-4 -->
          <div class="col-md-6 col-lg-2">
            <div class="image-box">
               <a href="#">
               <img src="/images/clients/10.jpg" alt="">
               </a>
            </div>
            <!-- /.image-box -->
         </div>
          <div class="col-md-6 col-lg-2">
            <div class="image-box">
               <a href="#">
               <img src="/images/clients/11.jpg" alt="">
               </a>
            </div>
            <!-- /.image-box -->
         </div>
          <div class="col-md-6 col-lg-2">
            <div class="image-box">
               <a href="#">
               <img src="/images/clients/12.jpg" alt="">
               </a>
            </div>
            <!-- /.image-box -->
         </div>
          <div class="col-md-6 col-lg-2">
            <div class="image-box">
               <a href="#">
               <img src="/images/clients/13.jpg" alt="">
               </a>
            </div>
            <!-- /.image-box -->
         </div>
          <div class="col-md-6 col-lg-2">
            <div class="image-box">
               <a href="#">
               <img src="/images/clients/14.jpg" alt="">
               </a>
            </div>
            <!-- /.image-box -->
         </div>
          <div class="col-md-6 col-lg-2">
            <div class="image-box">
               <a href="#">
               <img src="/images/clients/15.jpg" alt="">
               </a>
            </div>
            <!-- /.image-box -->
         </div>
          <div class="col-md-6 col-lg-2">
            <div class="image-box">
               <a href="#">
               <img src="/images/clients/16.jpg" alt="">
               </a>
            </div>
            <!-- /.image-box -->
         </div>
          <div class="col-md-6 col-lg-2">
            <div class="image-box">
               <a href="#">
               <img src="/images/clients/17.jpg" alt="">
               </a>
            </div>
            <!-- /.image-box -->
         </div>
          <div class="col-md-6 col-lg-2">
            <div class="image-box">
               <a href="#">
               <img src="/images/clients/18.jpg" alt="">
               </a>
            </div>
            <!-- /.image-box -->
         </div>
          <div class="col-md-6 col-lg-2">
            <div class="image-box">
               <a href="#">
               <img src="/images/clients/19.jpg" alt="">
               </a>
            </div>
            <!-- /.image-box -->
         </div>
          <div class="col-md-6 col-lg-2">
            <div class="image-box">
               <a href="#">
               <img src="/images/clients/20.jpg" alt="">
               </a>
            </div>
            <!-- /.image-box -->
         </div>
          <div class="col-md-6 col-lg-2">
            <div class="image-box">
               <a href="#">
               <img src="/images/clients/21.jpg" alt="">
               </a>
            </div>
            <!-- /.image-box -->
         </div>
          <div class="col-md-6 col-lg-2">
            <div class="image-box">
               <a href="#">
               <img src="/images/clients/22.jpg" alt="">
               </a>
            </div>
            <!-- /.image-box -->
         </div>
          <div class="col-md-6 col-lg-2">
            <div class="image-box">
               <a href="#">
               <img src="/images/clients/23.jpg" alt="">
               </a>
            </div>
            <!-- /.image-box -->
         </div>
          <div class="col-md-6 col-lg-2">
            <div class="image-box">
               <a href="#">
               <img src="/images/clients/24.jpg" alt="">
               </a>
            </div>
            <!-- /.image-box -->
         </div>
         
          <div class="col-md-6 col-lg-2">
            <div class="image-box">
               <a href="#">
               <img src="/images/clients/25.jpg" alt="">
               </a>
            </div>
            <!-- /.image-box -->
         </div>
          <div class="col-md-6 col-lg-2">
            <div class="image-box">
               <a href="#">
               <img src="/images/clients/26.jpg" alt="">
               </a>
            </div>
            <!-- /.image-box -->
         </div>
          <div class="col-md-6 col-lg-2">
            <div class="image-box">
               <a href="#">
               <img src="/images/clients/27.jpg" alt="">
               </a>
            </div>
            <!-- /.image-box -->
         </div>
          <div class="col-md-6 col-lg-2">
            <div class="image-box">
               <a href="#">
               <img src="/images/clients/28.jpg" alt="">
               </a>
            </div>
            <!-- /.image-box -->
         </div>
          <div class="col-md-6 col-lg-2">
            <div class="image-box">
               <a href="#">
               <img src="/images/clients/29.jpg" alt="">
               </a>
            </div>
            <!-- /.image-box -->
         </div>
          <div class="col-md-6 col-lg-2">
            <div class="image-box">
               <a href="#">
               <img src="/images/clients/30.jpg" alt="">
               </a>
            </div>
            <!-- /.image-box -->
         </div>
          <div class="col-md-6 col-lg-2">
            <div class="image-box">
               <a href="#">
               <img src="/images/clients/31.jpg" alt="">
               </a>
            </div>
            <!-- /.image-box -->
         </div>
          <div class="col-md-6 col-lg-2">
            <div class="image-box">
               <a href="#">
               <img src="/images/clients/32.jpg" alt="">
               </a>
            </div>
            <!-- /.image-box -->
         </div>
          <div class="col-md-6 col-lg-2">
            <div class="image-box">
               <a href="#">
               <img src="/images/clients/33.jpg" alt="">
               </a>
            </div>
            <!-- /.image-box -->
         </div>
          <div class="col-md-6 col-lg-2">
            <div class="image-box">
               <a href="#">
               <img src="/images/clients/34.jpg" alt="">
               </a>
            </div>
            <!-- /.image-box -->
         </div>
          <div class="col-md-6 col-lg-2">
            <div class="image-box">
               <a href="#">
               <img src="/images/clients/35.jpg" alt="">
               </a>
            </div>
            <!-- /.image-box -->
         </div>
          <div class="col-md-6 col-lg-2">
            <div class="image-box">
               <a href="#">
               <img src="/images/clients/36.jpg" alt="">
               </a>
            </div>
            <!-- /.image-box -->
         </div>
      </div>
      <!-- /.row -->
      <div class="content-box text-center">
         <h3>Let’s Start Working <br>
            Together
         </h3>
         <a class="theme-btn btn-style-one" href="/contact-us">
         <i class="btn-curve"></i>
         <span class="btn-title">Contact with us</span>
         </a>
      </div>
      <!-- /.content-box -->
   </div>
   <!-- /.auto-container -->
</section>
<!-- /.sponsors-section-four -->