<!-- Banner Section -->
    <section class="page-banner">
        <div class="image-layer" style="background-image:url(images/background/image-7.jpg);"></div>
        <div class="shape-1"></div>
        <div class="shape-2"></div>
        <div class="banner-inner">
            <div class="auto-container">
                <div class="inner-container clearfix">
                    <h1>Projects</h1>
                    <div class="page-nav">
                        <ul class="bread-crumb clearfix">
                            <li><a href="index.php">Home</a></li>
                            <li class="active">Projects</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Banner Section -->

    <!-- Gallery Section -->
    <section class="gallery-section">
        <div class="auto-container">
            <!--MixitUp Galery-->
            <div class="mixitup-gallery">
                <div class="upper-row clearfix">
                    <!--Filter-->
                    <div class="filters clearfix">
                        <ul class="filter-tabs filter-btns clearfix">
                            <li class="active filter" data-role="button" data-filter="all">All</li>
							{{taxonomy:product_categories}}
                            	<li class="filter" data-role="button" data-filter=".{{slug}}">{{title}}<sup>[3]</sup></li>
							{{/taxonomy:product_categories}}
                        </ul>
                    </div>
                </div>
                <div class="filter-list row">
                    <!-- Gallery Item -->
					{{gallery_items}}
                    <div class="gallery-item mix all {{category:slug}} col-lg-4 col-md-6 col-sm-12">
                        <div class="inner-box">
                            <figure class="image"><img src="{{image}}" alt=""></figure>
                            <a href="{{image}}" class="lightbox-image overlay-box"
                               data-fancybox="gallery"></a>
                            <div class="cap-box">
                                <div class="cap-inner">
                                    <div class="title">
                                        <h5><a href="javascript:;">{{project_client_name}}</a></h5>
                                    </div>
                                        <div class="cat">{{location}}<span></span></div>
                                </div>
                            </div>
                        </div>
                    </div>
					{{/gallery_items}}
                    
                </div>
            </div>
        </div>
    </section>